<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="paymentreminder" id="fandi_paymentreminder">
            <module before="Magento_Backend" name="Fandi_PaymentReminder"/>
        </route>
    </router>
</config>
