<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="payment_reminder" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Payment Reminder</label>
			<tab>fandi</tab>
			<resource>Fandi_PaymentReminder::config_fandi_paymentreminder</resource>
			<group id="default" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Payment Reminder</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="allowable_days_for_credit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<depends>
						<field id="enable">1</field>
					</depends>
					<label>Allowable days for credit</label>
					<comment>Reminder after x days</comment>
				</field>
			</group>
		</section>
	</system>
</config>
